header {
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 2;
}
header #logo {
  max-width: 30%;
  vertical-align: middle;
}
header .navbar-dark {
  background: linear-gradient(to right, black, rgb(70, 0, 0));
}
header .navbar-dark .nav-link,
header .navbar-dark :focus {
  color: white;
}
header .navbar-dark .nav-link:hover,
header .navbar-dark :focus:hover {
  opacity: 0.65;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.body__productos {
  padding-bottom: 20%;
}

.body__index {
  padding-bottom: 20%;
}

.body__ofertas {
  padding-bottom: 20%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}
.container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .row .col {
  width: 100%;
}

.fondo__index {
  background-image: url(../Imagenes/fondo2000x1333.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.body_contacto {
  background-image: url(../Imagenes/fondo2-.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.producto__fondo {
  background-image: url(../Imagenes/fondoalternativo1920x1281.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.fondo_nosotros {
  background-image: url(../Imagenes/Frente-fiambreria-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.ofertas_fondo {
  background-image: url(../Imagenes/fondo-nosjpg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.display-nosotros__dir {
  font-size: 2rem;
  text-align: center;
  margin-top: 300px;
  color: rgb(8, 200, 248);
}

.img-nos {
  margin-top: 0;
}

.container_carrousel {
  animation: from-right 2s ease;
}
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

.mapa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-bottom: 20%;
}

@media (max-width: 768px) {
  #carouselExampleCaptions {
    width: 50%;
    align-items: center;
  }
}
@media (max-width: 768px) {
  #textos {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .section__contacto {
    padding-bottom: 60%;
  }
  .section__contacto .formulario {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #logo {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .mapa {
    padding-bottom: 50%;
  }
}
form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
form #h1__contacto {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
form .checkbox {
  color: white;
  box-sizing: content-box;
  text-align: center;
}
form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
}
form textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
form #bottom__enviar {
  background: #31384a;
  color: #fff;
  padding: 20px;
}
form #bottom__enviar:hover {
  cursor: pointer;
}

.container__cards {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.container__cards .cards {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container__cards .cards .cards:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container__cards .cards .cards:hover img {
  width: 330px;
  height: 220px;
}
.container__cards .cards .cards:hover img h1 {
  font-weight: 600;
}
.container__cards .cards .cards:hover img h1 p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.footer__mycss {
  background-color: black;
  padding-top: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to left, black, rgb(70, 0, 0));
}

/*# sourceMappingURL=style.css.map */
