.footer__mycss {
  background-color: black;
  padding-top: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to left, black, rgb(70, 0, 0));
  i {
    color: white;
  }
}
