@media (max-width: 768px) {
  #carouselExampleCaptions {
    width: 50%;
    align-items: center;
  }
}
@media (max-width: 768px) {
  #textos {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .section__contacto {
    padding-bottom: 20%;
  }
}
